#1. First load the dataset using pandas and inspect the structure using head() and info().

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/tested.csv')
df.head() #used to check first 5 values

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [2]:
df.info() #used to fetch all the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

#2. Checking null values and understand which columns need cleaning using isnull.sum()

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

#3. Handle numeric and categorial missing values appropriately

Numeric columns are filled using mean()

In [13]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

Categorical columns are filled using mode()

In [14]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

Columns with excessive missing data are dropped.

In [15]:
df.drop(columns=['Cabin'], inplace=True, errors='ignore')

#4. A new column "Age_Category" is created using business logic to classify passengers into Child, Adult, and Senior groups.

In [10]:
def age_category(age):
  if age < 18:
    return "Child"
  elif age < 60:
    return "Adult"
  else:
    return "Senior"

df['Age_Category'] = df['Age'].apply(age_category)

In [11]:
df[['Age','Age_Category']].head()

    Age Age_Category
0  34.5        Adult
1  47.0        Adult
2  62.0       Senior
3  27.0        Adult
4  22.0        Adult

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Age_Category
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,Adult
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,Adult
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,Senior
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,Adult
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,Adult

#5. Save cleaned dataset to CSV

In [16]:
df.to_csv("Cleaned_data.csv", index = False)